#Foto{
    position: relative;  
    max-width: 500px;
    max-height: 500px;
    margin-left: 150px;
    margin-top: 75px;
}

#content {
  display: grid;
  grid-template-columns: 50% 50%;
}

#tulisan{
  display: grid;
  grid-template-rows: 50% 50%;
  margin-top: 20px;
  margin-right: 75px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
}

#Salam{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 70px;
  margin-top: 25px;
  text-align : center; 
}

#navbar{
  text-align : center;
}
img{
  border-radius: 50%;
}

h2{
  text-align : center;
  font-family: 'Roboto Condensed';
  font-style: normal ;
  font-weight: bold;
}

#Profil{
  position: relative;
  max-width: 500px;
  max-height: 200px;
}

#Deskripsi{
  position: relative;
  margin-top: 40px;
  max-width: 500px;
  max-height: 200px;
}

.logo-portofolio{
  padding-left: 100px;
}

.logo-kontak{
  padding-left: 50px;
}

.tengah{
  text-align: center;
}

.nav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  color: #000;
}

.col-sm{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  color: #000;
}